
          

          .fs40 {
            font-size: 40px
          }
          .mt20 {
            margin-top: 20px
          }
          .vw90 {
            width: 90vw
          }
          .p20 {
            padding: 20px
          }
          .bdr20 {
            border-radius: 20px
          }
          .fs20 {
            font-size: 20px
          }
          .fs30 {
            font-size: 30px
          }
          .mt10 {
            margin-top: 10px
          }
          .vw80 {
            width: 80vw
          }
          .h240 {
            height: 240px
          }
          .w200 {
            width: 200px
          }
          .h100 {
            height: 100px
          }
          .bdr50 {
            border-radius: 50px
          }
          .p10 {
            padding: 10px
          }
          .mt40 {
            margin-top: 40px
          }
          .mb20 {
            margin-bottom: 20px
          }
          .vw40 {
            width: 40vw
          }
          .pl20 {
            padding-left: 20px
          }
          .bdr8 {
            border-radius: 8px
          }
          .w180 {
            width: 180px
          }
          .h80 {
            height: 80px
          }
          .bdr40 {
            border-radius: 40px
          }
          .bdr12 {
            border-radius: 12px
          }
          .btm0 {
            bottom: 0px
          }
          .fs12 {
            font-size: 12px
          }
          .p3 {
            padding: 3px
          }
          .ml20 {
            margin-left: 20px
          }
          .fl1 {
            flex: 1
          }